div{
    padding: 2mm;
    border: 1px solid black;
    height: 50%;
    width: 20%;
    background-color: rgb(176, 213, 218);
   

border-color: black;    float: left;
}
h2{
    text-align: center;
  size: 0ch;
  text-size-adjust: 60%;
    
}
img{
    text-align: center;
    width: 100%;
    height: 200px;
}
h4{
    text-align: center;
}
div2{
    padding: 2mm;
    border: 1px solid black;
    height: 50%;
    width: 20%;
    background-color: rgb(176, 213, 218);
   

border-color: black;    float: left;
}