@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Open+Sans:ital,wght@0,700;0,800;1,600;1,800&family=Pushster&family=Rock+3D&display=swap');
h1{
    font-family: 'Rock 3D', cursive;
    font-size: x-large;
}
p{
    font-family: 'Pushster', cursive;
    font-size: x-large
    ;
}