div{
    width: 50px;
    height: 70px;
}

#b1{
    background-color: rgb(211, 8, 8);
    margin-top:100px;
    margin-left: 541px;
}

#b2{
    background-color: rgb(118, 204, 5);
    margin-top:-70px ;
    margin-left: 595px;
}

#b3{
    background-color: rgb(121, 119, 119);
    margin-top: -69px;
    margin-left: 649px;
}

#b4{
    background-color: rgb(16, 13, 180);
    margin-top: -70px;
    margin-left: 703px;
}

#b5{
    background-color: rgb(202, 201, 201);
    margin-top: -70px;
    margin-left: 757px;
}

#b6{
    background-color: rgb(114, 2, 80);
    margin-top: 4px;
    margin-left: 486px;
}

#b7{
    background-color: rgb(0, 97, 48);
    margin-top: -70px;
    margin-left: 541px;
}
#b8{
    background-color: rgb(177, 241, 0);
    margin-top: -70px;
    margin-left: 595px;
}

#b9{
    background-color: rgb(4, 7, 204);
    margin-top: -70px;
    margin-left: 649px;
}

#b10{
    background-color: rgb(46, 48, 136);
    margin-top: -70px;
    margin-left: 703px;
}

#b11{
    background-color: rgb(16, 77, 1);
    margin-top: -70px;
    margin-left: 757px;
}

#b12{
    background-color: rgb(168, 170, 250);
    margin-top: -70px;
    margin-left: 811px;
}

#b13{
    background-color: rgb(199, 127, 127);
    margin-top: 5px;
    margin-left: 431px;
}
#b14{
    background-color: rgb(29, 247, 0);
    margin-top: -70px;
    margin-left: 487px;
}

#b15{
    background-color: rgb(138, 3, 3);
    margin-top: -70px;
    margin-left: 541px;
}

#b16{
    background-color: rgb(236, 236, 236);
    margin-top: -70px;
    margin-left: 595px;
}
#b17{
    background-color: rgb(0, 195, 255);
    margin-top: -70px;
    margin-left: 649px;
}
#b18{
    background-color: rgb(255, 4, 4);
    margin-top: -70px;
    margin-left: 703px;
}

#b19{
    background-color: rgb(0, 255, 0);
    margin-top: -70px;
    margin-left: 757px;
}

#b20{
    background-color: rgba(0, 26, 255, 0.76);
    margin-top: -70px;
    margin-left: 811px;
}

#b21{
    background-color: rgb(255, 91, 91);
    margin-top: -70px;
    margin-left: 865px;
}






